---
layout: default
title: Contact page
intro-background: light-p
intro-text-color: black
intro-h1: Contact
intro-blurb: Are you ready to take the leap and invest in a custom-built website for your business? Feel free to contact us for a quote or to schedule a call to see if we are the right fit for your business. We are confident we can help with any of your web development needs.
next-section-bg: dark
hide-ig-bg: hide
---

{% include intro-two.html %}

<section class="h-[50vh] bg-dark">
  <div class="vl h-[50vh]">
  </div>
</section>

<!------------ FORM ------------>
<section class="bg-dark pb-24 pt-10">
  <form class="grid-col-1 mx-6 grid gap-y-4 text-center text-sm md:mx-16 md:grid-cols-2 md:gap-8 lg:gap-14" action="https://formspree.io/f/xwkybyvy" method="POST">
    <div class="grid-col-1 grid gap-y-4 md:gap-y-6">
      <input class="rounded-sm py-3 px-2 text-black" type="text" name="_name" id="_name" placeholder="Name*" required />
      <input class="rounded-sm py-3 px-2 text-black" type="email" name="_email" id="_email" placeholder="Email*" required />
      <input class="rounded-sm py-3 px-2 text-black" type="text" name="_subject" id="_subject" placeholder="Subject" />
    </div>
    <div class="grid-col-1 grid gap-y-4 md:gap-y-6">
      <textarea class="row-span-4 rounded-sm px-2 pt-3 pb-12 md:py-3 text-black" name="message" id="message" placeholder="About your business*" required></textarea>
      <button type="submit" class="rounded-sm bg-med-p hover:bg-med-g hover:text-black py-2 md:py-0">Send</button>
    </div>
  </form>
</section>

<!------------ LIVE IG FEED ------------>
{% include ig-feed.html %}