---
layout: default
title: Homepage
seo:
    title: Onyx Pointe - Homepage
    meta-description: All your web development needs in one spot. We help small businesses grow by bringing their vision to life through unique, custom-built websites.
    meta-keywords: Custom Built, Websites, Design, Coded, Custom Coded, Destincitve Design, Strategic, SEO Opptimisation, Web Development
    hide-from-google: false
tag-line: Distinctive web design built for you
intro-sm-ft_image: /images/concrete-bg-30.jpg
intro-sm-ft-alt: Concrete wall. 
intro-blurb: All your web development needs in one spot. We help small businesses grow by bringing their vision to life through unique, custom-coded websites. Creating a consistent online presence that makes you stand out from the crowd while staying true to your brand.
sm-banner-color: med-p
sm-banner-text-color: white
sm-banner-text: See some of our portfolio projects
sm-banner-arrow-color: bg-light-g
sm-banner-link: /portfolio.html
review-one: When I knew it was time to invest in a professional, custom website to take my business to the next level, I was overwhelmed with the idea of building one. Working with Nhakira at Onyx Pointe turned this daunting task into a fun process. From the start, she listened to my ideas, provided advice about website navigation to increase usability, and integrated my brand identity to make the site unqiue and recognizable. A custom website has been my most valuable buisness investment.
reviewer-one: Saddle Mountain Beadwork
reviewer-location-one: United States
review-two: Nhakira maakte een website voor mijn bedrijf. Het was heel fijn om met haar samen te werken. Ze luisterde goed naar mijn wensen. Wanneer ik per mail of app vragen stelde of iets veranderd wilde kwam er snel een reactie. Ze werkt heel nauwkeurig. Ze dacht met me mee en gaf suggesties maar wat ik wilde dat gebeurde zonder meer. Ik kan haar zeker aanbevelen!
reviewer-two: Poetsen en Praten
reviewer-location-two: Netherlands
---

<!------------ INDEX INTRO - SM ------------>
<section class="sm-show mr-6 pt-10 pb-5 grid grid-cols-8 relative">
  <div class="col-span-5 h-[60vh]">
    <img src="{{page.intro-sm-ft_image}}" alt="{{page.intro-sm-ft-alt}}" class="object-cover h-full bg-gray-200"/>
  </div>
  <div class="p-6 absolute w-5/6 bg-dark right-0 top-[3.6rem] h-[55vh] grid grid-cols-8 content-center">
    <div class="col-span-8">
      <h2 class="font-header uppercase text-[1.15rem] md:text-2xl md:font-extralight">{{page.tag-line}}</h2>
      <p class="mt-3">{{page.intro-blurb}}</p>
    </div>
  </div>
</section>

<!------------ INDEX INTRO - MD+ ------------>
<section class="grid grid-cols-5 content-center gap-6 py-10 md:py-14 px-6 md:px-16 sm-hide">
  <div class="col-span-2 row-span-4 lg:row-span-6 md:h-[46vh] lg:h-[60vh]">
    <img src="/images/type-writter-full-html-code-2.jpg" alt="Type writter with a line of html code. Original photo by Florian Klauer." class="object-cover h-full w-full bg-gray-200 editable"/>
  </div>
  <div class="col-span-5 md:col-span-3 row-span-1 lg:row-span-2 py-2">
    <h1 class="uppercase font-logo relative">Onyx <span class="absolute left-[6rem] bottom-[.5rem] px-1">.</span> Pointe</h1>
    <p class="lg:text-base">{{page.intro-blurb}}</p>
  </div>
  <div class="col-span-5 md:col-span-3 row-span-4 lg:row-span-6 md:h-64 lg:h-[28rem]">
    <img src="/images/desktop-negroni-cocktail-bar-cropped.jpg" alt="Imac computer displaying Negroni Cocktail bar website. Photo orginally by Quaritsch Photography" class="w-full object-cover max-h-full lg:h-full bg-gray-200 editable"/>
  </div>
  <div class="col-span-5 text-xl md:col-span-2 row-span-1 lg:row-span-2 py-2 px-6 md:pb-6 lg:p-6 text-center">
    <h2 class="text-4xl md:text-3xl lg:text-4xl lg:mb-[2.8rem] font-featured">{{page.tag-line}}</h2>
  </div>
</section>

<!------------ SMALL BANNER ------------>
{% include sm-banner.html %}

<!------------ STRATEGIC APPROACH ------------>
<section class="relative mx-6 mt-14 mb-4 md:mx-16 h-72 md:h-64 lg:h-96 ">
  <div class="h-full pb-3 flex w-2/5 md:w-2/4 bg-darkest-p px-10 absolute right-0 top-[3px]"></div>
  <div class="grid grid-cols-8 md:grid-cols-9 gap-5 md:gap-10 ml-6 md:ml-0 md:mr-8 lg:mx-16 py-6 pr-6 absolute inset-y-1 h-72 md:h-64 lg:h-full ">
    <div class="col-span-4 grid content-center md:col-span-3 md:ml-6">
      <p class="font-bold md:text-lg font-header uppercase editable">Strategic Approach</p>
      <p class="text-sm lg:text-base editable">We help you get the most out of your website. Providing a great customer experience for your users while staying true to your brand.</p>
    </div>
    <div class="col-span-4 md:col-span-3">
      <img src="/images/mobile-onyx-pointe.jpg" alt="Phone displaying Onyx Pointe website." class="h-[15rem] md:h-[13rem] lg:h-[20.9rem] w-full bg-gray-200 object-cover editable" />
    </div>
    <div class="sm-hide col-span-3">
      <img src="/images/nhakira-lapointe-photography-lago-di-garda.jpg" alt="Photo of Lago di Garda. Photo by Nhakira LaPointe." class="md:h-[13rem] lg:h-[20.9rem] w-full bg-gray-200 object-cover editable" />
    </div>
  </div>
</section>

<!------------ DESIGN BUILD LAUNCH ------------>
<section class="grid grid-cols-3 gap-y-4 md:grid-cols-9 md:gap-3 lg:gap-8 px-6 md:px-16 py-4">
  <div class="col-span-3 bg-med-g text-black p-6 md:p-4 lg:p-7">
    <div data-aos="fade-up">
      <h3 class="uppercase text-4xl mb-2 drop-shadow-md font-header editable">Design</h3>
      <p class="editable">The first step to creating your dream website is coming up with a user-friendly and aesthetically pleasing design. We can take your vision and bring it to life as a functional website. Whether you have it all planned out or don’t have any idea where to begin, we will help you through every step of the process.</p>
    </div>
  </div>
  <div class="col-span-3 bg-dark p-6 md:p-4 lg:p-7">
    <div data-aos="fade-up">
      <h3 class="uppercase text-4xl mb-2 drop-shadow-md font-header editable">Build</h3>
      <p class="editable">Using custom code, we bring your unique brand vision to life, while ensuring your site will be fast, responsive, accessible for all, and user-friendly. We test your site across multiple browsers and device types to ensure it is looking its best everywhere.</p>
    </div>
  </div>
  <div class="col-span-3 bg-med-g text-black p-6 md:p-4 lg:p-7">
    <div data-aos="fade-up">
      <h3 class="uppercase text-4xl mb-2 drop-shadow-md font-header editable">Launch</h3>
      <p class="editable">Finally, it’s time to launch your site into the world for everyone to see! We can help host your site with a reliable hosting service, connect it to your domain and set it up with a content management system so you can quickly and easily make any future edits with no coding knowledge necessary.</p>
    </div>
  </div>
</section>

<!------------ SEO OPTIMIZATION ------------>
<section class="mx-6 md:mx-16 lg:h-96 mt-4 relative">
  <div class="flex h-72 md:h-64 lg:h-full w-2/5 md:w-2/4 bg-darkest-p px-10"></div>
  <div class="grid grid-cols-8 md:grid-cols-9 gap-5 md:gap-10 md:ml-8 lg:ml-16 py-6 pl-6 h-72 absolute inset-y-1">
    <div class="col-span-4 md:col-span-3">
      <img src="/images/nhakira-lapointe-photography-dc-subway.jpg" alt="Photo of DC subway ceiling. Photo by Nhakira LaPointe." class="md:h-[12.8rem] lg:h-[20.7rem] w-full bg-gray-200 object-cover sm-hide editable"/>
      <img src="/images/mobile-the-sleep-co-airpods.jpg" class="h-[14.6rem] w-full bg-gray-200 object-cover sm-show editable"/>
    </div>
    <div class="md:col-span-3 sm-hide">
      <img src="/images/mobile-the-sleep-co-airpods.jpg" alt="Phone displaying The Sleep Co website." class="md:h-[12.8rem] lg:h-[20.7rem] w-full bg-gray-200 object-cover editable"/>
    </div>
    <div class="col-span-4 md:col-span-3 grid content-center mr-6 lg:mr-16">
      <p class="uppercase font-bold md:text-lg font-header editable">SEO Optimization</p>
      <p class="text-sm lg:text-base editable">We build your website in a way that is both user friendly and SEO optimized. <span class="sm-hide">Want to rank higher on Google? Having a website with fast loading times, accessibility, and custom code all help you rank higher.</span> </p>
    </div>
  </div>
</section>

<!------------ FEATURED PROJECTS ------------>
<section class="mt-28 mb-14 md:mx-16 text-center text-black py-16 md:py-16 lg:py-24 px-6 lg:px-10 background-img">
  <div data-aos="zoom-in">
    <h3 class="uppercase text-3xl md:text-4xl font-header drop-shadow-md editable">Featured Projects</h3>
    <p class="text-sm md:text-base pb-3 lg:pb-5 editable">Check out our <a href="/portfolio.html">portfolio</a> to see more of our work</p>
  </div>
  <div class="grid grid-cols-5 gap-y-6 md:grid-cols-10 md:gap-8 mx-4 md:mx-0 md:px-10 mt-8 relative">
    <p class="absolute bg-dark text-white py-1 px-2 text-sm rotate-90 uppercase -left-[5.8rem] top-[6.1rem] md:-left-[3.3rem] md:top-[6.2rem] lg:top-[10.2rem]">
      Willow Creek Rrailroad
    </p>
    <div class="col-span-5 bg-gray-200 border-1 h-56 lg:h-[23rem] border-2 border-black">
      <img src="/images/laptop-desk-willow-creek-rr.jpg" alt="Laptop on a desk displaying Willow Creek Railroad website." class="object-cover h-full w-full bg-gray-200 editable"/>
    </div>
    <div class="col-span-5 bg-gray-200 border-1 h-56 lg:h-[23rem] border-2 border-black">
      <img src="/images/laptop-desk-chiaro-creations.jpg" alt="Laptop on a desk displaying Chairo Creations website." class="object-cover h-full w-full bg-gray-200 editable"/>
    </div>
    <p class="absolute bg-dark text-white py-1 px-2 text-sm rotate-90 uppercase -right-[4.4rem] top-[21.65rem] md:-right-[1.9rem] md:top-[6.1rem] lg:top-[10.2rem]">
      Chiaro Creations
    </p>
  </div>
</section>

<!------------ REVIEWS ------------>
{% include reviews.html %}

<!------------ LIVE IG FEED ------------>
{% include ig-feed.html %}