---
layout: default
title: Services Page
intro-color: dark
page-h1: Services
intro-blurb: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus molestiae incidunt iste impedit exercitationem iure consectetur aut corrupti rerum accusantium esse eum, hic placeat neque dolor velit. Maxime, earum architecto.
intro-ft_img: /images/ph.jpg
sm-banner-text: Work with us
sm-banner-link: /contact.html
---

<!------------ SERVICES INTRO ------------>
{% include intro-one.html %}

<!------------ OUR PROCESS ------------>
<section class="pt-20 pb-0 w-9/12 md:w-11/12 lg:w-8/12 mx-auto">
  <h2 class="text-center text-2xl uppercase font-header drop-shadow-md font-extralight pb-10 editable">Our Process</h2>

  <div class="relative grid grid-cols-6 md:grid-cols-5 content-center gap-4 py-6 items-center">
    <div class="absolute md:ml-5 top-12 lg:top-[5.3rem] col-span-1 grid content-center w-52 grid-cols-8 border border-light-p py-10">
      <p class="col-span-2 text-[3.6rem] font-featured text-center">1</p>
      <h3 class="col-span-6 md:col-span-4 grid content-center uppercase md:pb-3 editab;e">Design</h3>
    </div>
    <div class="col-span-3 col-start-4 md:col-span-2 md:col-start-2">
      <img src="/images/ph.jpg" class="h-[30vh] lg:h-[40vh] bg-gray-400 object-cover" />
    </div>
    <div class="col-span-6 md:col-span-2 pb-4 px-6 md:pl-1">
      <p class="text-sm editable">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum eos consectetur debitis impedit animi perferendis eligendi inventore unde natus! Nobis</p>
    </div>
  </div>
  
  <div class="relative grid grid-cols-6 md:grid-cols-5 content-center gap-4 py-6 items-center">
    <div class="col-span-6 md:col-span-2 pb-4 px-6 order-last md:order-none md:text-right md:pr-1">
      <p class="text-sm editable">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum eos consectetur debitis impedit animi perferendis eligendi inventore unde natus! Nobis</p>
    </div>
    <div class="col-span-3 md:col-span-2 md:col-start-3">
      <img src="/images/ph.jpg" class="h-[30vh] lg:h-[40vh] bg-gray-400 object-cover" />
    </div>
    <div class="absolute md:mr-5 top-12 lg:top-[5.3rem] right-0 col-span-1 grid content-center w-52 grid-cols-8 border border-light-p py-10 text-right">
      <h3 class="col-span-6 md:col-span-5 col-start-1 md:col-start-2 grid content-center uppercase editable">Build</h3>
      <p class="col-span-2 text-[3.6rem] font-featured text-center">2</p>
    </div>
  </div>

  <div class="relative grid grid-cols-6 md:grid-cols-5 content-center gap-4 py-6 items-center">
    <div class="absolute md:ml-5 top-12 lg:top-[5.3rem] col-span-1 grid content-center w-52 grid-cols-8 border border-light-p py-10">
      <p class="col-span-2 text-[3.6rem] font-featured text-center">3</p>
      <h3 class="col-span-6 md:col-span-4 grid content-center uppercase md:pb-3 editable">Review</h3>
    </div>
    <div class="col-span-3 col-start-4 md:col-span-2 md:col-start-2">
      <img src="/images/ph.jpg" class="h-[30vh] lg:h-[40vh] bg-gray-400 object-cover" />
    </div>
    <div class="col-span-6 md:col-span-2 pb-4 px-6 md:pl-1">
      <p class="text-sm editable">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum eos consectetur debitis impedit animi perferendis eligendi inventore unde natus! Nobis</p>
    </div>
  </div>
  
  <div class="relative grid grid-cols-6 md:grid-cols-5 content-center gap-4 py-6 items-center">
    <div class="col-span-6 md:col-span-2 pb-4 px-6 order-last md:order-none md:text-right md:pr-1">
      <p class="text-sm editable">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum eos consectetur debitis impedit animi perferendis eligendi inventore unde natus! Nobis</p>
    </div>
    <div class="col-span-3 md:col-span-2 md:col-start-3">
      <img src="/images/ph.jpg" class="h-[30vh] lg:h-[40vh] bg-gray-400 object-cover" />
    </div>
    <div class="absolute md:mr-5 top-12 lg:top-[5.3rem] right-0 col-span-1 grid content-center w-52 grid-cols-8 border border-light-p py-10 text-right">
      <h3 class="col-span-6 md:col-span-5 col-start-1 md:col-start-2 grid content-center uppercase editable">Launch</h3>
      <p class="col-span-2 text-[3.6rem] font-featured text-center">4</p>
    </div>
  </div>

  <div class="relative grid grid-cols-6 md:grid-cols-5 content-center gap-4 py-6 items-center">
    <div class="absolute md:ml-5 top-12 lg:top-[5.3rem] col-span-1 grid content-center w-52 grid-cols-8 border border-light-p py-10">
      <p class="col-span-2 text-[3.6rem] font-featured text-center">5</p>
      <h3 class="col-span-6 md:col-span-4 grid content-center uppercase md:pb-3 editable">Support</h3>
    </div>
    <div class="col-span-3 col-start-4 md:col-span-2 md:col-start-2">
      <img src="/images/ph.jpg" class="h-[30vh] lg:h-[40vh] bg-gray-400 object-cover" />
    </div>
    <div class="col-span-6 md:col-span-2 pb-4 px-6 md:pl-1">
      <p class="text-sm editable">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum eos consectetur debitis impedit animi perferendis eligendi inventore unde natus! Nobis</p>
    </div>
  </div>
</section>

<!------------ SMALL BANNER ------------>
{% include sm-banner.html %}

<!------------ PRICING ------------>
<section class="md:w-11/12 lg:w-8/12 mx-auto">
  <div class="grid grid-cols-3 py-10 md:grid-cols-9">
    <div class="col-span-3 md:col-span-9 p-6">
      <h4 class="font-header editable text-2xl font-extralight uppercase drop-shadow-md">Pricing</h4>
      <p class="editable pb-1 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem necessitatibus maxime hic cumque aliquid tempore porro!</p>
    </div>
    <div class="col-span-3 px-6 pb-6 hidden md:inline-block">
      <img src="https://source.unsplash.com/jE5OhLgFUSc" class="h-full w-full object-cover" />
    </div>
    <div class="col-span-3 mx-6 mb-6 border border-light-p md:border-none p-6 md:px-0">
      <p class="editable text-lg uppercase">Website Name</p>
      <ul class="text-sm font-thin md:h-[25vh] lg:h-auto">
        <li>Lorem ipsum dolor sit amet consectetur</li>
        <li>Adipisicing elit. Itaque accusantium facere</li>
        <li>Neque odit eum assumenda ipsum officiis</li>
        <li>Olor odio, magnam, et enim sint reprehenderit</li>
      </ul>
      <img src="https://source.unsplash.com/jE5OhLgFUSc" class="my-6 h-28 w-full object-cover" />
      <p class="border-white editable mt-5 border py-2 text-center text-sm">Price</p>
    </div>
    <div class="col-span-3 mx-6 mb-6 border border-light-p md:border-none p-6 md:px-0">
      <p class="editable text-lg uppercase">Website Name</p>
      <ul class="text-sm font-thin md:h-[25vh] lg:h-auto">
        <li>Lorem ipsum dolor sit amet consectetur</li>
        <li>Adipisicing elit. Itaque accusantium facere</li>
        <li>Neque odit eum assumenda ipsum officiis</li>
        <li>Olor odio, magnam, et enim sint reprehenderit</li>
      </ul>
      <img src="https://source.unsplash.com/jE5OhLgFUSc" class="my-6 h-28 w-full object-cover" />
      <p class="border-white editable mt-5 border py-2 text-center text-sm">Price</p>
    </div>
  </div>
</section>
