---
layout: default
title: Services Page
seo:
    title: Onyx Pointe - Services Page
    meta-description: Take a look at our creative process and what we offer. Custom create the perfect web development package for you. 
    meta-keywords: Package, Web Development, Creative, Process, Custom, Services, Business Owners
    hide-from-google: false
intro-color: med-p
page-h1: Services
intro-blurb: We help small businesses grow by bringing their vision to life through unique, custom-coded websites. We will set you up with a custom, SEO-optimized, responsive, and accessible website. All your web development needs in one spot.
intro-ft_image: /images/nhakira-lapointe-photography-new-york.jpg
intro-ft-img-alt: Photo by Nhakira LaPointe. New York, USA
sm-banner-color: med-p
sm-banner-text-color: white
sm-banner-text: Work with us
sm-banner-arrow-color: bg-light-g
sm-banner-link: /contact.html
---

<!------------ SERVICES INTRO ------------>
{% include intro-one.html %}

<!------------ OUR PROCESS ------------>
<section class="pt-20 pb-0 w-9/12 md:w-11/12 lg:w-8/12 mx-auto">
  <h2 class="text-center text-2xl uppercase font-header drop-shadow-md font-extralight pb-10 editable" id="process">Our Process</h2>

  <div class="relative grid grid-cols-6 md:grid-cols-5 content-center gap-4 py-6 md:pt-6 md:pb-10 items-center">
    <div class="absolute md:ml-5 top-12 md:top-[3rem] lg:top-[4.1rem] col-span-1 grid content-center w-52 grid-cols-8 border-2 border-light-p py-10 -z-10 md:z-10">
      <p class="col-span-2 text-[3.6rem] font-featured text-center">1</p>
      <h3 class="col-span-6 md:col-span-4 grid content-center uppercase md:pb-3 editable">Design</h3>
    </div>
    <div class="col-span-3 col-start-4 md:col-span-2 md:col-start-2">
      <img src="/images/website-wireframe.jpg" class="h-[30vh] lg:h-[35vh] w-full bg-gray-400 object-cover" />
    </div>
    <div class="col-span-6 md:col-span-2 pb-4 px-6 md:pl-1">
      <p class="text-sm lg:text-base editable">The first step to creating your dream website is coming up with a user-friendly and aesthetically pleasing design. We can take your vision and bring it to life as a functional website. Whether you have it all planned out or don’t know where to begin, we will help you through every step.</p>
    </div>
  </div>
  
  <div class="relative grid grid-cols-6 md:grid-cols-5 content-center gap-4 py-6 md:py-10 items-center" data-aos="fade-up">
    <div class="col-span-6 md:col-span-2 pb-4 px-6 order-last md:order-none md:text-right md:pr-1">
      <p class="text-sm lg:text-base editable">Once you have approved a website design, using custom code, we bring your unique brand vision to life, while ensuring your site will be fast, responsive, accessible for all, and user-friendly.</p>
    </div>
    <div class="col-span-3 md:col-span-2 md:col-start-3">
      <img src="/images/desktop-html-code.jpg" alt="Desktop comupter displaying vs code editor" class="h-[30vh] lg:h-[35vh] w-full bg-gray-400 object-cover" />
    </div>
    <div class="absolute md:mr-5 top-12 md:top-[4.2rem] lg:top-[5.3rem] right-0 col-span-1 grid content-center w-52 grid-cols-8 border-2 border-light-p py-10 text-right -z-10 md:z-10">
      <h3 class="col-span-6 md:col-span-5 col-start-1 md:col-start-2 grid content-center uppercase editable">Build</h3>
      <p class="col-span-2 text-[3.6rem] font-featured text-center">2</p>
    </div>
  </div>

  <div class="relative grid grid-cols-6 md:grid-cols-5 content-center gap-4 py-6 md:py-10 items-center" data-aos="fade-up">
    <div class="absolute md:ml-5 top-12 md:top-[3.8rem] lg:top-[5.3rem] col-span-1 grid content-center w-52 grid-cols-8 border-2 border-light-p py-10 -z-10 md:z-10">
      <p class="col-span-2 text-[3.6rem] font-featured text-center">3</p>
      <h3 class="col-span-6 md:col-span-4 grid content-center uppercase md:pb-3 editable">Review</h3>
    </div>
    <div class="col-span-3 col-start-4 md:col-span-2 md:col-start-2">
      <img src="/images/phone-chiaro-creations.jpg" alt="Hand holding a cell phone displaying Chiaro Creations Jewelry website" class="h-[30vh] lg:h-[35vh] w-full bg-gray-400 object-cover" />
    </div>
    <div class="col-span-6 md:col-span-2 pb-4 px-6 md:pl-1">
      <p class="text-sm lg:text-base editable">Then you get to see the finished product and load in all your content (if you didn't provide it beforehand). We also test your site across multiple browsers and device types to ensure it is looking its best everywhere.</p>
    </div>
  </div>
  
  <div class="relative grid grid-cols-6 md:grid-cols-5 content-center gap-4 py-6 md:py-10 items-center" data-aos="fade-up">
    <div class="col-span-6 md:col-span-2 pb-4 px-6 order-last md:order-none md:text-right md:pr-1">
      <p class="text-sm lg:text-base editable">Once your website is built it's time to make it live so you can start getting clients! We can help you with hosting and connecting your domain or you can choose to do this part of the process on your own. We can also connect the website to a Content Management System so you can make edits on your own.</p>
    </div>
    <div class="col-span-3 md:col-span-2 md:col-start-3">
      <img src="/images/laptop-outside-chiaro-creations-cropped.jpg" alt="Laptop displaying Chiaro Creations website homepage" class="h-[30vh] lg:h-[35vh] w-full bg-gray-400 object-cover" />
    </div>
    <div class="absolute md:mr-5 top-12 md:top-[4.2rem] lg:top-[5.3rem] right-0 col-span-1 grid content-center w-52 grid-cols-8 border-2 border-light-p py-10 text-right -z-10 md:z-10">
      <h3 class="col-span-6 md:col-span-5 col-start-1 md:col-start-2 grid content-center uppercase editable">Launch</h3>
      <p class="col-span-2 text-[3.6rem] font-featured text-center">4</p>
    </div>
  </div>

  <div class="relative grid grid-cols-6 md:grid-cols-5 content-center gap-4 py-6 md:py-10 items-center" data-aos="fade-up">
    <div class="absolute md:ml-5 top-12 md:top-[3.8rem] lg:top-[5.3rem] col-span-1 grid content-center w-52 grid-cols-8 border-2 border-light-p py-10 -z-10 md:z-10">
      <p class="col-span-2 text-[3.6rem] font-featured text-center">5</p>
      <h3 class="col-span-6 md:col-span-4 grid content-center uppercase md:pb-3 editable">Support</h3>
    </div>
    <div class="col-span-3 col-start-4 md:col-span-2 md:col-start-2">
      <img src="/images/rotary-phone.jpg" alt="Hand holding a cell phone displaying Chiaro Creations Jewelry website" class="h-[30vh] lg:h-[35vh] w-full bg-gray-400 object-cover" />
    </div>
    <div class="col-span-6 md:col-span-2 pb-4 px-6 md:pl-1">
      <p class="text-sm lg:text-base editable">We are here for you even after the site is up and running! The first month after the website launches we offer free tech support for anything minor tweaks that may need to be made. After that, you can always contact us for tech support or design changes for an hourly rate or a monthly package.</p>
    </div>
  </div>

  <!-- <div class="relative grid grid-cols-6 md:grid-cols-5 content-center gap-4 md:pb-6 md:pt-10 items-center" data-aos="fade-up">
    <div class="absolute md:ml-5 top-12 md:top-[3.8rem] lg:top-[4.1rem] col-span-1 grid content-center w-52 grid-cols-8 border-2 border-light-p py-10 -z-10 md:z-10">
      <p class="col-span-2 text-[3.6rem] font-featured text-center">5</p>
      <h3 class="col-span-6 md:col-span-4 grid content-center uppercase md:pb-3 editable">Support</h3>
    </div>
    <div class="col-span-3 col-start-4 md:col-span-2 md:col-start-2">
      <img src="/images/rotary-phone.jpg" class="h-[30vh] lg:h-[35vh] w-full bg-gray-400 object-cover" />
    </div>
    <div class="col-span-6 md:col-span-2 pb-4 px-6 md:pl-1">
      <p class="text-sm lg:text-base editable">We are here for you even after the site is up and running! The first month after the website launches we offer free tech support for anything minor tweaks that may need to be made. After that, you can always contact us for tech support or design changes for an hourly rate or a monthly package.</p>
    </div>
  </div> -->
</section>

<!------------ SMALL BANNER ------------>
{% include sm-banner.html %}

<!------------ PRICING ------------>
<!-- <section class="md:w-11/12 lg:w-8/12 mx-auto" id="prices">
  <div class="grid grid-cols-3 py-10 md:grid-cols-9 items-center">
    <div class="col-span-3 md:col-span-9 p-6">
      <h4 class="font-header editable text-2xl font-extralight uppercase drop-shadow-md editable">Pricing</h4>
      <p class="editable pb-1 text-sm md:text-base">​We set our prices on a project-by-project basis. We create custom packages for each client to ensure that you are only paying for services that will benefit your business. Below you can get an idea of what our starting prices are.</p>
    </div>
    <div class="col-span-3 px-6 pb-6 hidden md:inline-block h-[52vh]">
      <img src="/images/nhakira-lapointe-photography-bilboa-spain-cropped.jpg" class="h-full w-full object-cover bg-gray-400" />
    </div>
    <div class="col-span-3 mx-6 mb-6 border border-light-p md:border-none p-6 md:px-0">
      <p class="editable text-lg uppercase">Website Name</p>
      <ul class="text-sm font-thin md:h-[25vh] lg:h-auto">
        <li class="editable">Lorem ipsum dolor sit amet consectetur</li>
        <li class="editable">Adipisicing elit. Itaque accusantium facere</li>
        <li class="editable">Neque odit eum assumenda ipsum officiis</li>
        <li class="editable">Olor odio, magnam, et enim sint reprehenderit</li>
      </ul>
      <img src="" class="my-6 h-28 w-full object-cover bg-gray-400" />
      <p class="border-white editable mt-5 border py-2 text-center text-sm editable">Price</p>
    </div>
    <div class="col-span-3 mx-6 mb-6 border border-light-p md:border-none p-6 md:px-0">
      <p class="editable text-lg uppercase">Website Name</p>
      <ul class="text-sm font-thin md:h-[25vh] lg:h-auto">
        <li class="editable">Lorem ipsum dolor sit amet consectetur</li>
        <li class="editable">Adipisicing elit. Itaque accusantium facere</li>
        <li class="editable">Neque odit eum assumenda ipsum officiis</li>
        <li class="editable">Olor odio, magnam, et enim sint reprehenderit</li>
      </ul>
      <img src="" class="my-6 h-28 w-full object-cover bg-gray-400" />
      <p class="border-white editable mt-5 border py-2 text-center text-sm editable">Price</p>
    </div>
  </div>
</section> -->
