---
layout: default
title: Services Page
---

<!------------ SERVICES INTRO ------------>
{% include intro-imgs.html %}
<!-- <section class="mt-14 mb-14 grid grid-cols-5 gap-3 bg-purple-300 px-16 py-10">
  <div class="col-span-3">
    <h1 class="pb-2 text-2xl uppercase">Custom Coded Websites</h1>
    <p class="text-sm">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam, sapiente voluptate rerum aperiam officia, cum officiis quae sequi atque facere recusandae id aut corporis ducimus perferendis modi reiciendis itaque voluptates?</p>
  </div>
  <div class="content-right col-span-2">
    <img src="#" class="absolute top-48 right-0 mr-16 h-60 w-52 bg-gray-200" />
    <img src="#" class="bg-gray-400 absolute h-60 top-60 w-52 ml-2 border border-black"/>
  </div>
</section> -->

<!------------ OUR PROCESS ------------>
<section class="pt-20 pb-0 px-16">
  <h2 class="text-center text-2xl uppercase">Our Process</h2>
  <div class="relative grid grid-cols-5 content-center gap-4 py-14">
    <div class="absolute top-20 col-span-1 grid w-52 grid-cols-8 border py-10 pl-2">
      <p class="text-3xl italic">1</p>
      <h3 class="col-span-4 grid content-center text-sm uppercase">Design</h3>
    </div>
    <div class="col-span-2 col-start-2">
      <img src="/images/ph.jpg" class="h-full bg-gray-400" />
    </div>
    <div class="col-span-2 py-10">
      <p class="text-sm">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum eos consectetur debitis impedit animi perferendis eligendi inventore unde natus! Nobis</p>
    </div>
  </div>
  <div class="relative grid grid-cols-5 content-center gap-4 py-14">
    <div class="col-span-2 py-10">
      <p class="text-right text-sm">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum eos consectetur debitis impedit animi perferendis eligendi inventore unde natus! Nobis</p>
    </div>
    <div class="col-span-2">
      <img src="/images/ph.jpg" class="h-full bg-gray-400" />
    </div>
    <div class="absolute top-20 right-0 col-span-1 grid w-52 grid-cols-8 border py-10 pr-2 text-right">
      <h3 class="col-span-4 col-start-4 grid content-center text-sm uppercase">Development</h3>
      <p class="text-3xl italic">2</p>
    </div>
  </div>

  <!-- 3-5 -->
  <div class="relative grid grid-cols-5 content-center gap-4 py-14">
    <div class="absolute top-20 col-span-1 grid w-52 grid-cols-8 border py-10 pl-2">
      <p class="text-3xl italic">3</p>
      <h3 class="col-span-4 grid content-center text-sm uppercase">Review</h3>
    </div>
    <div class="col-span-2 col-start-2">
      <img src="/images/ph.jpg" class="h-full bg-gray-400" />
    </div>
    <div class="col-span-2 py-10">
      <p class="text-sm">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum eos consectetur debitis impedit animi perferendis eligendi inventore unde natus! Nobis</p>
    </div>
  </div>
  <div class="relative grid grid-cols-5 content-center gap-4 py-14">
    <div class="col-span-2 py-10">
      <p class="text-right text-sm">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum eos consectetur debitis impedit animi perferendis eligendi inventore unde natus! Nobis</p>
    </div>
    <div class="col-span-2">
      <img src="/images/ph.jpg" class="h-full bg-gray-400" />
    </div>
    <div class="absolute top-20 right-0 col-span-1 grid w-52 grid-cols-8 border py-10 pr-2 text-right">
      <h3 class="col-span-4 col-start-4 grid content-center text-sm uppercase">Launch</h3>
      <p class="text-3xl italic">4</p>
    </div>
  </div>
  <div class="relative grid grid-cols-5 content-center gap-4 py-14">
    <div class="absolute top-20 col-span-1 grid w-52 grid-cols-8 border py-10 pl-2">
      <p class="text-3xl italic">5</p>
      <h3 class="col-span-4 grid content-center text-sm uppercase">Support</h3>
    </div>
    <div class="col-span-2 col-start-2">
      <img src="/images/ph.jpg" class="h-full bg-gray-400" />
    </div>
    <div class="col-span-2 py-10">
      <p class="text-sm">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum eos consectetur debitis impedit animi perferendis eligendi inventore unde natus! Nobis</p>
    </div>
  </div>
</section>

<!------------ SMALL BANNER ------------>
{% include sm-banner.html %}

<!------------ PRICING ------------>
<section class="py-14 mb-14 px-16">
  <div class="">
    <h4 class="uppercase text-2xl">Pricing</h4>
    <p class="text-sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut mollitia sunt beatae cumque explicabo, itaque ad eos totam illum voluptatem similique numquam? Atque ad doloremque minus dolor vitae veritatis officiis.</p>
  </div>
  <div class="grid grid-cols-3 gap-8 pt-4">
    <div class="">
      <img src="/images/ph.jpg" class="bg-gray-200 w-full h-full"/>
    </div>
    <div class="">
      <p class="upperclass">Website Type</p>
      <ul class="text-sm">
        <li>Item one</li>
        <li>Item two</li>
        <li>Item three</li>
      </ul>
      <img src="/images/ph.jpg" class="bg-gray-200 p-6 my-4"/>
      <p class="border border-white text-center mx-8">Price</p>
    </div>
     <div class="">
      <p class="upperclass">Website Type</p>
      <ul class="text-sm">
        <li>Item one</li>
        <li>Item two</li>
        <li>Item three</li>
      </ul>
      <img src="/images/ph.jpg" class="bg-gray-200 p-6 my-4"/>
      <p class="border border-white text-center mx-8">Price</p>
    </div>
  </div>
</section>
