@tailwind base;
@tailwind components;
@tailwind utilities;
 
/* Example of Extracting classes with @apply https://tailwindcss.com/docs/reusing-styles#extracting-classes-with-apply */
/* 
@layer components {
    .button {
        @apply inline-block p-6 bg-blue-600 text-white hover:bg-blue-800 transition;
    } 
}
*/

/* --------------------ELEMENTS */
.quote-icon {
    color:#C3ACBD;
    font-size: 3.5rem;
}

.vl {
    border-left: 2px solid white;
    left: 50%;
    margin-left: -3px;
    position: absolute;
} 

/* --------------------TYPOGRAPHY */
h1{font-size:2rem;}

h2{font-size: 1.5rem;}

/* h3{} */
/* h4{} */

p{
    font-family: 'Jost', sans-serif;
    font-weight:300;
    line-height: 1.3;
    margin-bottom: 1rem;
}

p:last-child{margin-bottom: 0;}

p a{padding-bottom: 2px;
    border-bottom: 10px solid inherit;}

a:hover{
    color: #A3809A;
    cursor: pointer;
    font-weight: 400;
}


/* --------------------BACKGROUND IMGS */
.background-img {
    background-image: url('/images/sg.png');
    background-repeat: repeat;
}

.bg-img-index{
  background-image:url('images/ph.jpg');
}

/* --------------------HEADER + MOBILE MENU */
.hamburger-button{
    border:none;
    color:#A3809A;
    cursor:pointer;
    display:inline-block;
    font-size:1.8rem;
    padding: 0 0.5rem;
}

.hamburger-button.active{color: #FFFFFF;}

.mobile-menu{
    background-color:#1F1F1F;
    color:#FFFFFF;
    display:none;
    /* padding: 5%; */
}

.mobile-menu a{
    display: inline;
    padding: 0 .5rem;
    /* text-align: center; */
    text-decoration:none;
    text-transform: uppercase;
    z-index: 2;
}

.mobile-menu a:hover{
    color:#A3809A;
}


/* --------------------COOKIE BANNER */
#cookie-notice {
    padding: .75rem 1rem;
    display: none;
    text-align: center;
    position: fixed;
    left: 1rem;
    right: 1rem;
    bottom: 0;
    width: calc(100% - 2rem);
}
#cookie-notice a {
    display: inline-block;
    cursor: pointer;
    margin-left: 0.5rem;
}
#cookie-notice .button-subtle {
  opacity: 0.8;
}

#close-cookie-banner {
  padding: 1rem;
  cursor: pointer;
  font-size: 0.8rem;
  opacity: 0.5
}

.hide{display:none;}
/* ----------------------------------------MEDIA QUERIES------------- */
/* --------------------DEFAULT RESPONSIVE STYLES */
.sm-show{display: none;}
.sm-hide{display:inline-block;}

/* --------------------LG MEDIA QUERY (128em / 2048px) */
/* @media(max-width:128em){
} */

/* @media(max-width:75em){
} */

/* --------------------MD MEDIA QUERY (64em / 1024px) */
@media(max-width:64em){

}

/* --------------------SM Media Query (48em / 768px) */
@media(max-width:48em){
    .quote-icon{font-size:2rem;}
    .sm-hide{display:none;}
    .sm-show {display: inline-block;}

      .hide-header{display:none;}

}

/* --------------------XS Media Query (36em / 576px) */
@media (max-width: 36em) {
    .xs-hide{display: none;}
    .xs-show { display: block; }
}

/* --------------------XXS Media Query (25em / 400px) */
/* NOT part of default Gridlex styling */
/* @media (max-width: 25em) {} */ 

