<!------------ FOOTER ------------>
<footer class="h-[20] pb-1 pt-10 px-auto mt-8">
    <div class="grid justify-items-center">
        <div class="max-w-sm text-center">
            <a href="/index.html"><img src="/images/onyx-pointe-logo.png" class="inline-block h-28 mb-2"/></a>
            <h6 class="text-center uppercase font-logo relative text-xl">Onyx <span class="absolute left-[8.35rem] md:left-[10.35rem] bottom-[.35rem] px-1">.</span> Pointe</h6>
            <nav class="pb-10 uppercase text-sm">
                <a href="/about.html" class="px-1 md:px-3">About</a>
                <span> | </span>
                <a href="/portfolio.html" class="px-1 md:px-3">Portfolio</a>
                <span> | </span>
                <a href="/services.html" class="px-1 md:px-3">Services</a>
                <span> | </span>
                <a href="/contact.html" class="px-1 md:px-3">Contact</a>
            </nav>
        </div>
    </div>
    <p class="text-xs text-right pr-1 pb-1"><a href="/privacy-policy.html">Privacy Policy</a> | Copyright 2023 | <a href="#" class="uppercase">Onyx Pointe</a></p>
</footer>