<!------------ FOOTER ------------>
<footer class="h-[20] content-center text-center pb-1 pt-10 px-1 mt-8">
    <img src="/images/logo-ph.png" class="inline-block bg-gray-200 h-28 mb-2"/>
    <h6 class="uppercase text-2xl">Onyx Pointe</h6>
    <div class="pb-10 uppercase text-sm">
        <a href="#" class="px-1 md:px-3">About</a>
        <span> | </span>
        <a href="#" class="px-1 md:px-3">Portfolio</a>
        <span> | </span>
        <a href="#" class="px-1 md:px-3">Services</a>
        <span> | </span>
        <a href="#" class="px-1 md:px-3">Contact</a>
    </div>
    <p class="text-xs text-right"><a href="/privacy-policy.html">Privacy Policy</a> | Copyright 2023 | <a href="#" class="uppercase">Onyx Pointe</a></p>
</footer>