<!------------ LIVE IG FEED ------------>
<section class="py-14 mt-8 relative">
    <div class="mx-6 md:mx-16">
    <iframe src="https://cdn.lightwidget.com/widgets/99bf52f7c51d53ffbd133791c1de9024.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
</body>
    </div>
    <div class="{{page.hide-ig-bg}} h-[150px] md:h-[125px] w-full bg-dark absolute bottom-0 -z-10">
    </div>
    <p class="bottom-[2.8rem] md:left-8 md:bottom-[1.4rem] lg:bottom-[2.3rem] absolute left-2 text-5xl font-featured"><a href="https://www.instagram.com/onyxpointe/" target="_blank">@onyxpointe</a></p>
</section>