<!------------ INTRO W/ TWO IMGS ------------>
<section class="bg-{{page.intro-color}} text-{{page.intro-text-color}} pl-6 pr-10 pt-8 pb-20 md:px-16 lg:px-20 md:py-14 lg:py-16 grid grid-cols-6 md:grid-cols-5 mt-14 md:mb-14 gap-3">
  <div class="col-span-3 md:col-span-3 items-center">
    <h1 class="text-3xl drop-shadow-md uppercase mb-4 font-header">{{page.page-h1}}</h1>
    <p class="">{{page.intro-blurb}}</p>
  </div>
  <div class="col-span-3 md:col-span-2 content-right">
    <div class="h-72 bg-concrete md:top-[12.3rem] w-32 md:w-60 right-0 mr-6 md:mr-16 lg:mr-20 absolute">
      <img src="{{page.intro-ft_img}}" class="bg-gray-300 absolute h-72 inset-y-6 -inset-x-8 w-32 md:w-60 ml-2 border border-black object-cover"/>
    </div>
  </div>
</section>