<!-- TODO Add xs media query 375px -->
<section class="pt-14 pb-6 relative">
  <div class="bg-{{page.intro-bg-color}} text-{{page.intro-text-color}} xs:h-[55vh] h-[47vh] mx-12 md:mx-24 lg:mx-56 py-7 md:py-20 px-6 flex items-center">
    <div>
      <h1 class="text-2xl uppercase mb-1 text-center">{{page.intro-h1}}</h1>
      <p>{{page.intro-blurb}}</p>
      <a href="#" class="text-center block">Link</a>
    </div>
  </div>
  <div class="absolute h-[25vh] bg-{{page.next-section-bg}} w-full bottom-0 -z-10">
  </div>
</section>