<!------------ REVIEWS ------------>
<section class="grid grid-cols-5 gap-y-24 md:grid-cols-10 py-14 px-3 md:px-16 md:gap-4">
    <div class="col-span-5 grid grid-cols-12 md:grid-cols-7 content-center">
        <p class="col-span-1 text-right quote-icon">❛❛</p>
        <div class="col-span-10 md:col-span-5 text-center px-4 mt-8 md:mt-12">
        <p class="text-base">{{page.review-one}}</p>
        <br/>
        <p class="italic font-featured text-2xl mb-0">~ {{page.reviewer-one}}</p>
        <p class="text-xs uppercase">{{page.reviewer-location-one}}</p>
        </div>
        <p class="col-span-1 quote-icon">❜❜</p>
    </div>
    <div class="col-span-5 grid grid-cols-12 md:grid-cols-7 content-center">
        <p class="col-span-1 text-right quote-icon">❛❛</p>
        <div class="col-span-10 md:col-span-5 text-center content-center px-4 mt-8 md:mt-12">
        <p class="content-center">{{page.review-two}}</p>
        </br>
        <p class="italic font-featured text-2xl mb-0">~ {{page.reviewer-two}}</p>
        <p class="text-xs uppercase">{{page.reviewer-location-two}}</p>
        </div>
        <p class="col-span-1 quote-icon">❜❜</p>
    </div>
</section>
