<section class="grid grid-cols-10 content-center py-10 md:py-14 md:px-16 text-center relative">
    <div class="col-span-10 md:col-span-8 lg:col-span-9 bg-{{page.sm-banner-bg}} md:bg-{{page.sm-banner-bg-md}} px-3 py-8 md:py-6 md:p-6 text-{{page.sm-banner-text-color}} md:text-{{page.sm-banner-text-color-md}} text-lg">
        <p>{{page.sm-banner-text}} <a href="{{page.sm-banner-link}}" class="sm-show arrow"> &#8594</a></p>
    </div>
    <div class="col-span-2 bg-light-p p-3 absolute right-6 md:right-16 top-[4.29rem] lg:top-[4.27rem] w-28 md:w-56 lg:w-80 text-center sm-hide">
        <a href="{{page.sm-banner-link}}" class="arrow">&#8594;</a>
    </div>
</section>